<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Apogee{% endblock %}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
	<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

	<!-- Alpine Plugins -->
	<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@marcreichel/alpine-timeago@latest/dist/alpine-timeago.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-tooltip@1.x.x/dist/cdn.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
	<!-- Alpine Core -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<style>
	.tag a {
		color:inherit;
			text-decoration: underline;
	}

	.avatar {
		border-radius:100%;
		width:1em;
		height:1em;
		margin-bottom:-0.2em;
	}

	.logo {
		width:1em;
		height:1em;
		margin-bottom:-0.2em;
	}

	</style>
	<meta name="htmx-config" content='{"requestClass":"is-loading"}'>
</head>
<body>
		{% block content %}{% endblock %}
</body>
