{% extends "two_column.html" %}

{% block hero %}


{% if pull is not none %}
	<h1 class="title">Pull Request</h1>
	{% with pull=pull %}
		{% include "pull_title.html" %}
	{% endwith %}
{% else %}
	<h1 class="title">Commit</h1>
	{% with commit=commit %}
		{% include "commit_title.html" %}
	{% endwith %}
{% endif %}

{% endblock %}

{% block side_column_menu %}
{% include "commit_detail_menu.html" %}
{% endblock %}

{% block main_column %}

{% with expanded=True %}
{% include "commit.html" %}
{% endwith %}

{% endblock %}
