{% extends "base.html" %}

{% block content %}
<div class="container block">
	<div class="columns is-centered">
		<div class="column is-narrow">
			<h1 class="title">Apogee</h1>
			<div class="box mt-5">
				<div class="field is-grouped">
					<p class="control">
						{% if gh_user %}
						<span class="tag is-success is-large">
							<span class="icon">
								<img class="avatar" src="{{ gh_user.avatar_url }}"/>
							</span>
							<span>{{ gh_user.login }}</span>
						</span>
						{% else %}
						<a href="{{ url_for('auth.login_github') }}" class="button is-light">
							<span class="icon">
								<ion-icon name="logo-github"></ion-icon>
							</span>
							<span>Login with GitHub</span>
						</a>
						{% endif %}
					</p>
					<p class="control">
						{% if cern_user %}
							<span class="tag is-success is-large">
								<span class="icon">
									<img class="logo" src="{{ url_for('static', filename='cern_white.svg') }}"/>
								</span>
								<span>{{ cern_user.name }}</span>
							</span>

						{% else %}
						<a href="{{ url_for('auth.cern_login') }}" class="button is-light">
							<span class="icon">
								<img class="logo" src="{{ url_for('static', filename='cern_black.svg') }}"/>
							</span>
							<span>CERN Login</span>
						</a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
