{% set sha = commit.sha if commit is defined else none %}
{% set number = pull.number if pull is defined else none %}
<div class="block patch-form" id="{%- if patch.id is none -%}
new-patch
{%- else -%}
patch-{{ patch.id }}
{%- endif -%}">
<form
  hx-swap="outerHTML"
  hx-target="closest .patch-form"
{% if patch.id is none -%}
  hx-post="{{ url_for('edit_patches', sha=sha, pull=number) }}"
{%- else -%}
  hx-put="{{ url_for('patch', sha=sha, pull=number, patch=patch.id) }}"
{%- endif %}
>

<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <input name="url" class="input{{ ' is-danger' if error else '' }}{{' is-success' if saved else ''}}" placeholder="URL" value="{{ patch.url }}" />
      </p>
    </div>
    <div class="field">
      <p class="control is-grouped">
        <button class="button is-primary is-outlined" type="submit">
          <span class="icon">
            <ion-icon name="checkmark-outline"></ion-icon>
          </span>
        </button>

        {% if patch.id is not none %}
        <button class="button is-light" 
          hx-put="{{ url_for('patch_move', sha=sha, pull=number, patch=patch.id, dir='up') }}"
          hx-target="body"
          {% if first %}disabled{% endif %}>
          <span class="icon">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </span>
        </button>

        <button class="button is-light" 
          hx-put="{{ url_for('patch_move', sha=sha, pull=number, patch=patch.id, dir='down') }}"
          hx-target="body"
          {% if last %}disabled{% endif %}>
          <span class="icon">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </span>
        </button>

        <button class="button is-danger is-outlined" 
          hx-target="body"
          hx-delete="{{ url_for('patch', sha=sha, pull=number, patch=patch.id) }}">
          <span class="icon">
            <ion-icon name="close-outline"></ion-icon>
          </span>
        </button>
        {% endif %}
      </p>
    </div>
  </div>
</div>

</form>
</div>
