{% from "macros.html" import status_to_class, relative_datetime %}

<div id="pipeline-{{ pipeline.id }}" class="box pipeline">
		<div class="columns">
			<div class="column">
				<p class="title is-7">
					<span class="tag {{ status_to_class(pipeline.status) }}">

						<a 
							x-tooltip.raw="{{ pipeline.status|upper }}"
							href="{{ pipeline.web_url }}">Pipeline #{{ pipeline.id }}</a>
					</span>
				</p>
				<p class="subtitle is-7">
					Created {{ relative_datetime(pipeline.created_at) }}
					{%- if pipeline.refreshed_at -%}
					, last updated {{ relative_datetime(pipeline.refreshed_at) }}
					{% endif %}
				</p>
			</div>
			<div class="column is-narrow">
				<div class="buttons">
					<button class="button" 
						hx-post="{{ url_for("reload_pipeline", pipeline_id=pipeline.id) }}"
						hx-swap="outerHTML"
						hx-target="#pipeline-{{ pipeline.id }}"
						>
						<span class="icon"><ion-icon name="refresh-outline"></ion-icon></span>
					</button>

					<a href="{{ url_for('update_object_counts', pipeline_id=pipeline.id) }}" class="button is-primary is-light" 
						hx-boost="true"
						>
						<span class="icon"><ion-icon name="arrow-up-circle-outline"></ion-icon></span>
						<span>Counts</span>
					</a>

					<a href="{{ url_for('update_references', pipeline_id=pipeline.id, next=request.url) }}" class="button is-primary is-light" 
						hx-boost="true"
						>
						<span class="icon"><ion-icon name="arrow-up-circle-outline"></ion-icon></span>
						<span>Refs</span>
					</a>

					{% if expanded %}
					<button 
						hx-get="{{ url_for('pipeline', pipeline_id=pipeline.id) }}"
						hx-target="#pipeline-{{pipeline.id}}"
						hx-swap="outerHTML"
						class="button">
						Less
					</button>
					{% else %}
						<button 
							hx-get="{{ url_for('pipeline', pipeline_id=pipeline.id, detail=True) }}" 
						  hx-target="#pipeline-{{pipeline.id}}"
							hx-swap="outerHTML"
							class="button">
							More
						</button>
					{% endif %}
				</div>
			</div>
		</div>
		{# hard code stages for now #}
		{% if expanded %}
		{% set stages = pipeline.jobs|map(attribute="stage")|unique|sort|list %}

			<hr/>

			<div style="overflow-x: scroll;">
			{% with variables = pipeline.variables %}
			{% include "variable_table.html" %}
			{% endwith %}
			</div>

			<hr/>

      {% macro render_stage(stage) %}
          {{ stage }}
          {% set jobs = pipeline.jobs|selectattr("stage", "equalto", stage)|list %}

          <div style="overflow-x:scroll;">
          <span class="tags mt-1 mb-1">
            {% for job in jobs|sort(attribute="name") %}
            <span class="tag {{ status_to_class(job.status, job.allow_failure) }}"
            x-tooltip.raw="{{ job.status|upper }}">
            <a href="{{ job.web_url }}">{{ job.name }}</a>
            </span>
            {% endfor %}
          </span>
          </div>
      {% endmacro %}

      {{ render_stage("build") }}
			{% for stage in stages if stage not in ("build", "report") %}
      {{ render_stage(stage) }}
			{% endfor %}
      {{ render_stage("report") }}
		{% endif %}

	</div>
