{% extends "two_column.html" %}

{% block hero %}

<p class="title">
	Pull Requests
</p>
<p class="subtitle">
	Validation
</p>

{% endblock %}

{% block side_column %}
{% endblock %}

{% block main_column %}
<div class="field is-grouped">
	  <p class="control">
		<button class="button"
					hx-post="{{ url_for('pulls.reload_pulls') }}"
					hx-target="#pulls"
					>
						<span class="icon">
							<ion-icon name="logo-github"></ion-icon>
						</span>
						<span>
						Reload Pull Requests
						</span>
		</button>
		</p>
	  <p class="control">
		<button class="button"
					hx-post="{{ url_for('reload_pipelines', source='pulls', page=page) }}"
					hx-target="#pulls"
					>
						<span class="icon">
							<ion-icon name="logo-gitlab"></ion-icon>
						</span>
							<span>
					Reload pipelines
						</span>
		</button>
		</p>
		{#
	  <p class="control">
		<button class="button is-danger is-outlined"
					hx-post="{{ url_for('reset_reverts') }}"
					hx-target="#pulls"
		 			hx-confirm="Reset all reverts?"
					>
					Reset reverts
		</button>
		</p>
	  <p class="control">
		<button class="button is-danger is-outlined"
					hx-post={{ url_for('reset_patches') }}
					hx-target="#commits"
					hx-indicator="#commits"
		 			hx-confirm="Reset all patches?"
					>
					Reset patches
		</button>
		</p>
		#}
</div>


<hr/>
<section id="pulls">
	{% include 'pull_list.html' %}
</section>
{% endblock %}

