{% from "macros.html" import status_to_class %}

{% with swap = true %}
{% include "notifications.html" %}
{% endwith %}

{% for pull in pulls|sort(attribute="updated_at", reverse=True) %}


<div class="box">

	<div class="columns">
		<div class="column">
			{% with pull = pull %}
				{% include "pull_title.html" %}
			{% endwith %}
		</div>
		<div class="column is-narrow">
			<div class="field is-grouped">
				{#
				{% if commit.patches|length > 0 %}
				<p class="control">
					<a href="{{ url_for('commit_patches', sha=commit.sha) }}">patches: {{ commit.patches|length }}</a>
				</p>
				{% endif %}
				#}
				<p class="control">
					<a class="button is-primary" 
						href="{{ url_for('run_pipeline', pull=pull.number, back=request.url) }}">
						Run pipeline</a>
				</p>

				{#
				{% if request.endpoint != "commit_detail" %}
				<p class="control">
					<a class="button"				href="{{ url_for("commit_detail", sha=commit.sha) }}">
						Details</a>
				</p>
				{% endif %}
				#}
			</div>
		</div>
	</div>

	<span class="tags">
	{% set assocs = pull.commits | sort(attribute="order", reverse=True) %}
	{% for assoc in assocs[:] %}
	{% set latest_pipeline = assoc.commit.latest_pipeline %}
	<span class="tag {% if latest_pipeline -%}
			 {{ status_to_class(latest_pipeline.status) }} 
			 {% else -%}
			 is-light
			 {%- endif %}"
					x-tooltip.raw="{{ assoc.commit.sha }}">
					<a href="{{ url_for('commit_detail', sha=assoc.commit.sha, pull=pull.number) }}">{{ assoc.commit.sha[:9] }}</a>
				</span>
			{#{{ assoc.commit_sha }} - {{ assoc.commit.subject }} - {{ assoc.order }}<br>#}
	{% endfor %}
	</span>
	{#
	{% if assocs|length > 5 %}
	+ {{ assocs|length - 5 }} more
	{% endif %}
	#}

	{#
	{% set pipelines = pull.commit.pipelines|sort(attribute="created_at", reverse=True) %}
	{% if expanded %}
		{% for pipeline in pipelines %}
			{% with pipeline = pipeline, expanded = expanded and loop.first %}
					{% include "pipeline.html" %}
			{% endwith %}
			{% else %}
			No pipelines
		{% endfor %}
	{% else %}
		{% with pipeline = pipelines|first, expanded = False %}
				{% if pipeline is defined %}
				{% include "pipeline.html" %}
				{% else %}
				No pipelines
				{% endif %}
		{% endwith %}
	{% endif %}
	#}


</div>
	{% endfor %}
