{% from "macros.html" import status_to_class %}
<div class="box">

	<div class="columns">
		<div class="column">
			{% with pull = pull %}
				{% include "pull_title.html" %}
			{% endwith %}
		</div>
		<div class="column is-narrow">
			<div class="field is-grouped">
				{% if pull.patches|length > 0 %}
				<p class="control">
					<a class="button is-light is-warning"
						href="{{ url_for('edit_patches', pull=pull.number) }}">
						<span class="icon">
							<ion-icon name="bandage"></ion-icon>
						</span>
						<span>{{ pull.patches|length }}</span>
					</a>
				</p>
				{% endif %}

				<p class="control">
					<a class="button is-primary" hx-boost="true"
						href="{{ url_for('run_pipeline', pull=pull.number, back=request.url) }}">
						<span class="icon">
							<ion-icon name="rocket"></ion-icon>
						</span>
					</a>
				</p>

				{% if request.endpoint != "pulls.show" %}
				<p class="control">
					<a class="button is-light" hx-boost="true"
						href="{{ url_for('pulls.show', number=pull.number) }}">
						<span class="icon">
							<ion-icon name="information-circle"></ion-icon>
						</span>
					</a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>


	<span class="tags">
	{% set assocs = pull.commits | sort(attribute="order", reverse=True) %}
	{% for assoc in assocs[:] %}
		{% set latest_pipeline = pipeline_by_commit.get(assoc.commit.sha) %}
		<span class="tag {% if latest_pipeline -%}
			 {{ status_to_class(latest_pipeline.status) }} 
			 {% else -%}
			 is-light
			 {%- endif %}"
					x-tooltip.raw="{{ assoc.commit.sha }}">
					<a href="{{ url_for('commit_detail', sha=assoc.commit.sha, pull=pull.number, latest=True if loop.first else none) }}" 
						hx-boost="true">{{ assoc.commit.sha[:9] }}</a>
				</span>
			{#{{ assoc.commit_sha }} - {{ assoc.commit.subject }} - {{ assoc.order }}<br>#}
	{% endfor %}
	</span>



</div>
