{% from "macros.html" import github_user, status_to_class, local_datetime, relative_datetime %}

{% macro show_pipeline(pipeline, outdated=False) %}
	<span class="tag {{ status_to_class(pipeline.status) }}"
		x-tooltip.raw="{{ pipeline.status|upper }}">
		{% if outdated %}
		<span class="icon-text">
			<span class="icon">
				<ion-icon name="time"></ion-icon>
			</span>
			<span>
				<a href="{{ pipeline.web_url }}">#{{ pipeline.id }}</a>
			</span>
		</span>
		{% else %}
			<a href="{{ pipeline.web_url }}">#{{ pipeline.id }}</a>
		{% endif %}
	</span>
{% endmacro %}

<p class="title is-6">
						<span class="icon-text">
							<span class="icon">
							<ion-icon name="git-pull-request-outline"></ion-icon>
							</span>
							<span>
								{{ pull.title }} (<a href="{{ pull.html_url }}">#{{ pull.number }}</a>)
							</span>
						</span>
</p>
<p class="subtitle is-6">
	<span class="ml-1">{{ github_user(pull.user) }}</span>,
	created {{ local_datetime(pull.created_at) }}, updated {{ relative_datetime(pull.updated_at) }}<br>
	<a href="https://github.com/{{ pull.head_repo_full_name }}/commit/{{ pull.head_sha }}"><code>{{ pull.head_label }}</code></a> @
	<code x-tooltip.raw="{{ pull.head_sha }}">{{ pull.head_sha[:9] }}</code>,
	{{ pull.commits | length }} commits, 
	{% set latest_commit_pipeline = pull.latest_commit_pipeline %}
	{% set latest_pipeline = pull.latest_pipeline %}
	{% if latest_commit_pipeline is not none %}
		{{ show_pipeline(latest_commit_pipeline) }}
	{% elif latest_pipeline is not none %}
		{{ show_pipeline(latest_pipeline, outdated=True) }}
	{% else %}
	<span class="tag is-light">No pipeline</span>
	{% endif %}
</p>
