{% extends "two_column.html" %}

{% block hero %}

<p class="title">
	Timeline
</p>
<p class="subtitle">
	Validation
</p>

{% endblock %}

{% block side_column %}
{% endblock %}

{% block main_column %}
<div class="buttons">
			<button class="button"
						hx-post={{ url_for('timeline.reload_commits') }}
						hx-target="#commits"
						{% if page != 1 %}hx-replace-url={{ url_for('timeline.index') }}{% endif %}
						>
						<span class="icon">
							<ion-icon name="logo-github"></ion-icon>
						</span>
							<span>
						Reload commits 
							</span>
			</button>

		<button class="button"
					hx-post={{ url_for('reload_pipelines', source='timeline', page=page) }}
					hx-target="#commits"
					>
						<span class="icon">
							<ion-icon name="logo-gitlab"></ion-icon>
						</span>
							<span>
					Reload pipelines
						</span>
		</button>

		<button class="button is-danger is-outlined"
					hx-post={{ url_for('reset_patches') }}
					hx-target="#commits"
		 			hx-confirm="Reset all patches?"
					>
					<span class="icon">
						<ion-icon name="bandage-outline"></ion-icon>
					</span>
					<span>Reset patches</span>
		</button>

		<a class="button"
					href={{ url_for('sync_patches') }}
					>
							<span>
						Sync patches
						</span>
		</a>
</div>


<hr/>
<section id="commits">
	{% include "commits.html" %}
</section>
{% endblock %}

