{% extends "base.html" %}

{% block content %}
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item">
      Apogee
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <!--
        <a class="navbar-item" href="https://bulma.io/">
        Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
        Docs
        </a>
        <div class="navbar-dropdown is-boxed">
        <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
        Overview
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
        Modifiers
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
        Columns
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
        Layout
        </a>
        <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
        Form
        </a>
        <hr class="navbar-divider">
        <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
        Elements
        </a>
        <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
        Components
        </a>
        </div>
        </div>
      -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{{ gh_user.html_url }}">
          <figure class="image is-24x24 mr-2">
            <img class="is-rounded" src="{{ gh_user.avatar_url }}"/>
          </figure>
          <span>
          {{ gh_user.login }}
          </span>
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" hx-post="{{ url_for('logout') }}">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container block">
  <section class="hero is-primary mb-5">
    <div class="hero-body">
      {% block hero %}{% endblock %}
    </div>
  </section>
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="box">
				{% block side_column %}{% endblock %}

        <aside class="menu" hx-boost="true">
          {% block side_column_menu %}{% endblock %}

          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a
                class="{{ 'is-active' if request.endpoint == 'timeline.index' else '' }}"
                href="{{ url_for("timeline.index") }}">Timeline</a></li>
            <li><a
                class="{{ 'is-active' if request.endpoint == 'pulls.index' else '' }}"
                href="{{ url_for("pulls.index") }}">Pull Requests</a></li>
          </ul>

        </aside>
      </div>
    </div>
    <div class="column">
        {% include "notifications.html" %}
        {% block main_column %}{% endblock %}
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          
    });
      
  } );

  
});
</script>
{% endblock %}
