{% from "macros.html" import status_to_class %}

{% extends "single_column.html" %}

{% block main_column %}

<h1 class="title">Update object counts</h1>

<table class="table is-fullwidth">
	<thead>
		<tr>
			<th>Job</th>
			<th>Filename</th>
		</tr>
	</thead>
	<tbody>
		{% for job, filename, diff in diffs %}
		<tr>
			<td>
				<span class="tag {{ status_to_class(job.status, job.allow_failure) }}"
				x-tooltip.raw="{{ job.status|upper }}">
					<a href="{{ job.web_url }}">{{ job.name }}</a>
				</span>
			</td>
			<td>{{ filename }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<hr />

<table class="table is-fullwidth">
	<thead>
		<tr>
			<th>Command</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<code>curl <a href="{{ url_for('object_counts', patch_digest=patch_digest, ext='patch', _external=True) }}">{{ url_for('object_counts', patch_digest=patch_digest, ext='patch', _external=True) }}</a>	 | git am</code>
			</td>
			<td>
				<button class="button" onclick="navigator.clipboard.writeText('curl {{ url_for('object_counts', patch_digest=patch_digest, ext='patch', _external=True) }} | git am')">
					<span class="icon">
						<ion-icon name="copy-outline"></ion-icon>
					</span>
					<span>Copy to clipboard</span>
				</button>
			</td>
		</tr>
		<tr>
			<td>
				<code>curl <a href="{{ url_for('object_counts', patch_digest=patch_digest, ext='diff', _external=True) }}">{{ url_for('object_counts', patch_digest=patch_digest, ext='diff', _external=True) }}</a> | git apply</code>
			</td>
			<td>
				<button class="button" onclick="navigator.clipboard.writeText('curl {{ url_for('object_counts', patch_digest=patch_digest, ext='diff', _external=True) }} | git apply')">
					<span class="icon">
						<ion-icon name="copy-outline"></ion-icon>
					</span>
					<span>Copy to clipboard</span>
				</button>
			</td>
		</tr>
	</tbody>
</table>


<hr />

<h2 class="title">Pipeline</h2>

{% with pipeline = pipeline, expanded=True %}
{% include "pipeline.html" %}
{% endwith %}

{% endblock %}