{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="box m-5" id="content">
			<h1 class="title">Login</h1>
			<h2 class="subtitle">A GitHub token is required<h2>

			<form method="POST" action="{{ url_for("login") }}">
				<div class="block">
					<input class="input {% if error is not none -%}
					is-danger
					{% else %}
					is-primary
					{%- endif %}" value="{{ token or "" }}" type="text" name="gh_token" placeholder="GitHub Personal Access Token">
				</div>
				{% if error is not none %}
				<div class="message is-danger">
					<div class="message-body">
						{{ error }}
					</div>
				</div>
				{% endif %}

				<div class="block">
				<input class="button is-primary" type="submit" value="Submit input">
				</div>
				
			</form>
		</div>
	</div>
{% endblock %}
