{% extends "base.html" %}

{% block content %}


<div class="container block">
  <section class="hero">
    <div class="hero-body">
      <p class="title">
        {% block title %}{% endblock %}
      </p>
      <p class="subtitle">
        {% block subtitle %}{% endblock %}
      </p>
    </div>
  </section>
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="box">
				{% block side_column %}{% endblock %}
      </div>
    </div>
    <div class="column">
      {% include "notifications.html" %}
      <div class="box">
        {% block main_column %}{% endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
